/*////////////////////////////////////////////////////////////// FONTS */
/* font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif; */

:root {
    --background-color: rgb(244,244,244);
    --inner-box-color: rgb(255, 255, 255);
    --nav-background: rgb(248,248,248);
    --nav-border: rgb(231,231,231);
    --nav-text: rgb(110,110,110);
    --sidebar: rgb(68,68,68);
    --footer-background: rgb(34,34,34);
    --footer-font: rgb(136,136,136);
}



/*////////////////////////////////////////////////////////////// GLOBAL */
* {
    box-sizing: border-box;
  }
body {
    text-align: center;
    font-family: 'Lato', arial, sans-serif;
    background-color: rgb(244,244,244);
}
img {
    width: 100%;
}
ul {
    padding: 0;
    list-style: none;
    display: flex;
}
/*////////////////////////////////////////////////////////////// NAV BAR */

header {
 padding: 0;
}
nav {
    color: rgb(110,110,110);
    text-transform: uppercase;
    font-size: 0.7rem;
    display:flex;
    min-height: 63px;
    justify-content: space-between;
    background-color: var(--nav-background);
    border-bottom: 1px solid var(--nav-border);

}
nav ul:first-of-type  {
    display: flex;
    align-items: center;
    padding-left: 150px;
}
nav ul:last-of-type {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 285px;
    padding-right: 110px;
    font-size: 0.83rem;
}
.word-menu li {
    padding-right: 24px;
    letter-spacing: 0.87px;
}
.fas {
    margin-left: 2px;
    margin-bottom: 1px;
}

.symbols li {
    flex: 1;
}

.symbols li:last-of-type {
    flex: 1.5;
} 
/*////////////////////////////////////////////////////////////// MAIN LAYOUT*/

wrapper {
    display: flex;
    justify-content: center;
    margin-top: 49px;
}
main {
    flex: 2;
    max-width: 750px;
    margin-right: 2vw;
}
.sidebar {
    flex:1;
    max-width: 360px;
    color: var(--sidebar);
}
main img {
    object-fit: cover;
    height: 473px;
}

/*////////////////////////////////////////////////////////////// ARTICLES */

article {
    background:var(--inner-box-color);
    margin-bottom: 50px;
}
.article-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 21px;
    border-top: 1px black solid;
}
.article-footer ul {
    display: flex;
}

article h2 {
    font-size: 0.7rem;
    margin-top: 43px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

article h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-top: 13px;
    font-size: 1.5rem;
}

article p {
    margin: 24px 40px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: -0.09px;
    font-size: 0.95em;
    text-align: left;
}

button {
    margin-top: 11px;
    padding: 10px 17px;
    text-transform: uppercase;
    font-size: 0.79rem;
    letter-spacing: 0.6px;
    border-radius: 1px;
}

.article-footer p {
        font-size: 0.85rem;
        font-style: italic;
        letter-spacing: 0.19px;
        margin: 15px 40px;
}
.article-footer ul {
    margin: 22px 40px;
    width: 139px;
    justify-content: space-between;
}

/*/////////////////////////////////////////////////////////////////////////GENERAL SIDE DESIGN*/


.sidebar h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.15rem;
    letter-spacing: 0.06ch;
    font-weight: 400;
    color: var(--sidebar);
    /* letter-spacing: 0.09ch; */
    padding-top: 33px;
    padding-bottom: 6px;
}

.top, .popular-posts, .latest-posts, .instagram-feed {
    background: var(--inner-box-color);
}


.sidebar figcaption {
    padding: 14px 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 0.83rem;
    letter-spacing: 1.25px;
    font-weight: 400;
    color: var(--sidebar);
    text-align: left;
    word-spacing: -1px;
}

/*////////////////////////////////////////////////////////////////////////// TOP PROFILE PIC */

.top {
    /* background: var(--inner-box-color); */
    position: relative;
}
.top img:first-of-type {
    object-fit: cover;
    height: 183px;
}

.top img:last-of-type {
    border-radius: 50%;
    position: absolute;
    top: 99px;
    left: 90px;
    width: 51%;
    border: solid 8px var(--inner-box-color);
}

.top h2 {
    margin-top: 73px;
}

.top p {
    line-height: 1.66em;
    margin: 0px 35px;
    font-size: 0.94rem;
}

.top ul {
    justify-content: space-evenly;
    margin: 23px 73px;
    padding-right: 11px;
    padding-bottom: 44px;
}

.top li {
    border: 1px solid var(--nav-border);
    width: 30px;
    padding: 6px;
    font-size: 0.85rem;
    margin: 1px;
    border-radius: 50%;
}

/*////////////////////////////////////////////////////////////////////POPULAR POSTS */

.popular-posts {
    margin: 40px -1px 40px 1px;
    padding: 0 30px;
}
.popular-posts h2{
    letter-spacing: 0.09ch;
    padding-top: 33px;
    padding-bottom: 12px;
}
.popular-posts img {
    object-fit: cover;
    height: 200px;
    padding: 0 0 0 0;
}

.popular-posts p {
    font-size: 0.9rem;
    font-style: italic;
    letter-spacing: -0.2px;
    text-align: left;
    margin: 0;
    border-bottom: 1px solid var(--nav-border);
    color: rgb(119,119,119);
    padding-bottom: 16px;
}
.post {
    padding-bottom: 20px;
}
/*////////////////////////////////////////////////////////////////////LATEST POSTS */

.latest-posts {
    margin: 10px 0;
}

.latest-posts figcaption:first-of-type {
    padding: 11px 0;
}

.latest-posts h2 {
    padding-bottom: 4px;
}
.latest-posts figcaption  {
    letter-spacing: 0.7px;
    word-spacing: 0;
}

.latest-posts p {
    font-size: 0.85rem;
    font-style: italic;
    letter-spacing: 0.19px;
    text-align: left;
    margin: 0;
    border-bottom: 1px solid var(--nav-border);
    color: rgb(119,119,119);
    padding-bottom: 46px;
}

.latest-posts img {
    float: left;
    max-width: 103px;
    margin: 8px 15px 8px 0;
    height: 76px;
    object-fit: cover;
}

.latest-posts figcaption {
    padding: 0px 0;
}

.latest-posts .post {
    display:block;
    padding-bottom: 0px;
    margin-bottom: 6px;
    margin-left: 31px;
    margin-right: 29px;
}

.latest-posts .post:last-of-type {
    margin-bottom: 50px;
    padding-bottom: 19px;
}

/*///////////////////////////////////////////////////////////////////////INSTAGRAM FEED */

.instagram-feed {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -10px;
}

.instagram-feed h2 {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 7px;
}

.photos img{
    object-fit: cover;
    width: calc(50% - 18px);
    margin: 5px;
    height: 151px;
}

.photos {
    width: 90%;
    padding-bottom: 24px;
}

/*//////////////////////////////////////////////////////////////////////FOOTER*/

.footer {
    margin-top: 30px;
    display: flex;
    flex: 1 1 auto;
}
.footer img {
    object-fit: cover;
    width: calc(100% / 8);
    height: 189px;
}

footer {
    background: var(--footer-background);
    padding: 20px;
    margin: 0;
    color: var(--footer-font);
    font-size: 0.88rem;
    position: relative;
}

footer p {
    margin: 5px;
}

.arrow {
    position: absolute;
    top:0;
    right: 1.9vw;
    background: rgb(87,43,29);
    color: rgb(101,101,101);
    border-radius: 5%;
}

.arrow p {
    padding: 9px 13px 8px 12px;
    margin: 0;
    text-align: center;
    font-size: 1.15rem;
}
